<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
</head>
<body>
<h1>Add New Book</h1>

<form action="#" th:action="@{/books/add}" th:object="${book}" method="post">
    <label>Title: <input type="text" th:field="*{title}"/></label><br/>
    <label>Author: <input type="text" th:field="*{author}"/></label><br/>
    <label>Year: <input type="number" th:field="*{year}"/></label><br/>
    <button type="submit">Add Book</button>
</form>

<a href="/">Back to list</a>
</body>
</html>
